html
    head
        title= name
        link(href="/css/style.css",rel="stylesheet",type="text/css")
    body
        include ./header.pug
        p.description Thanks, mate. 
        include ./footer.pug