html
    head
        title= name
        link(href="/css/style.css",rel="stylesheet",type="text/css")
    body
        include ./header.pug
        p.description This page is for logging with Google. Just click the button to log in!
        a.login-button(href= url) Click here to log with Google!
        include ./footer.pug
